.header {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    text-align: center;
}

.logo {
    color: #8b7969;
    font-size: 38px;
    font-family: serif;
}

.header__link {
    position: absolute;
    top: 30px;
    right: 80px;

    padding: 5px 15px;

    border: 1px solid #d9c6b5;
    background: #f7f3f0;

    color: #d9c6b5;
    text-decoration: none;
    font-size: 14px;
}